<h2>What's been on the menu?</h2>
<ul>
<% @dishes.each do |dish| %>
  <li class='list-item'>
  <%= cl_image_tag(dish.orders.last.photo, :width => 125, :height => 125, :class => "order-pic") %>
  <div class='li-text-wrapper'>
  <%= link_to(dish.name, dish, :class => "order-dish-name") %>
  </div>
  </li>
<% end %>
</ul>