// console.log("create.js.erb file")
// $('#order_restaurant_id').prepend("<option selected='selected' value="+'<%= @restaurant.id %>'+">"+'<%= @restaurant.name %>'+"</option>");
// $('#restaurant-form').slideUp(3550);